<main>
    <div class="small-container">
        <div class="col-1">
            <div class="png">
                <img src="{{ pizza.img_path }}" id="ProductImg" />
            </div>
        </div>
        <div class="col-2">
            <h1>{{ pizza.name }}({{ pizza.size }})</h1>
            <hr />
            <p>{{ pizza.description }}</p>
            <ul class="list">
                <li *ngFor="let top of pizza.toppings">{{ top.name }}</li>
            </ul>
            <a class="btn" (click)="addToCart()">Add To Cart</a>
        </div>
    </div>
</main>