/* @import url('http://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
}

.small-container {
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}

.col-1 {
    background-color: #ff523b;
    border-radius: 25px 0 0 25px;
}

@media (max-width: 576px) {
    .magic {
        min-height: 50vh !important;
        min-width: 100%;
    }
}

img {
    max-width: 100%;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    margin: 25px 0;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
    font-size: 25px;
}

.list {
    color: #555;
    padding-top: 15px;
    font-size: 25px;
}

.btn {
    background: #ff523b;
    color: #fff;
    padding: 15px 60px;
    margin: 50px;
    border-radius: 30px;
    transition: background 0.5s;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.btn:hover {
    background: #563434;
}