.banner {
    background-image:
    url(/assets/banner3.jpg);
    height: 100px ;
  }
.text{
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.item {
    width: 32%;
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: white;
  }
.price {
    color: grey;
    font-size: 22px;
  }

.container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card button {
    border: none;
    outline: 0;
    padding: auto;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .toppings{
    color:lightgray;
    font-size: 12px;
  }
.background{
    background-image: url("/assets/background.jpg");
}