
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="banner">
        <div class="text">
          <h1 class="text-center">Welcome to our menu!</h1>
          <h5 class="text-center">The best pizza is one click away!</h5>
        </div>  
      </div>
    <div class="background">
        <div class="d-flex justify-content-center flex-column">
            <!-- price range slider-->
            <div>
                <!-- TODO: Change the style of slider -->
                <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider> 
                <div>Lower Range Value: {{value}}</div>
                <div>High Range Value: {{highValue}}</div>
            </div>


            <!-- size pill-buttons -->
            <div class="d-flex flex-row justify-content-center flex-wrap">
                <div class="m-1" *ngFor="let size of sizes">
                    <input type="checkbox" class="btn-check" id="size-button-{{size}}" autocomplete="off">
                    <label class="btn btn-danger btn-sm" for="size-button-{{size}}">{{size}}</label>
                </div>  
            </div>
            <!-- toppings pill-buttons -->
            <!-- Generate with ng-for -->
            <div class="d-flex flex-row justify-content-center flex-wrap">
                <div class="m-1" *ngFor="let topping of toppings">
                    <input type="checkbox" class="btn-check" id="size-button-{{topping.name}}" autocomplete="off">
                    <label class="btn btn-success btn-sm" for="size-button-{{topping.name}}">{{topping.name}}</label>
                </div>
            </div>
        </div>
        <div class ="container">
            <div class="item" *ngFor="let p of pizza; let i = index">
                <img [src]="p.img_path" alt="" style="width:100%">
                <h6 href><b>{{ p.name | titlecase}}</b></h6>
                <p class="price">{{ p.price | currency:'GBP' }}<p>
                <p class = "toppings">{{ formatToppings(p) | titlecase }}</p>
                <p class = "card button"><button (click)="pizzaDetails(p)">Details</button></p>
                <p class = "card button"><button (click)="addToCart(p)">Add to Cart</button></p>
            </div>
        </div>
    </div>
</body>
</html>