<div class="m-5">
  <h1>Cart</h1>
  <div class="row">
    <table
      *ngIf="!isCartEmpty()"
      mat-table
      [dataSource]="lines"
      class="mat-elevation-z8"
    >
      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="removeFromCart(element)">delete</mat-icon>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.pizza.name }}</td>
      </ng-container>

      <!-- Size Column -->
      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef>Size</th>
        <td mat-cell *matCellDef="let element">{{ element.pizza.size }}</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">{{ element.pizza.price }}</td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element">
          <!-- FIXME: Vertically center the input-->
          <mat-form-field
            [ngClass]="!(isHandset$ | async) ? 'flex-column' : 'flex-row'"
            subscriptSizing='fixed'
          >
            <input
              matInput
              [(ngModel)]="element.quantity"
              [ngModelOptions]="{ standalone: true }"
              min="1"
              type="number"
              value="{{ element.quantity }}"
              class="form-control"
            />
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div *ngIf="isCartEmpty()">
      <p class="text-muted">Empty! Add pizzas from the menu.</p>
    </div>

    <div class="col-12">
      <hr />
      <!-- TODO: Move this summary as a foot row inside the table -->
      <div>
        Order Total:
        <span class="font-weight-bold">{{ getTotal() | currency }}</span>
        <hr />
        <button class="btn btn-primary" (click)="clearCart()">
          Clear Cart
        </button>
        <button
          [disabled]="isCartEmpty()"
          class="btn btn-danger"
          [routerLink]="['/checkout']"
        >
          Check out
        </button>
      </div>
    </div>
  </div>
</div>
