<nav
  mat-tab-nav-bar
  color="warn"
  fitInkBarToContent
  mat-stretch-tabs="false"
  mat-align-tabs="center"
  [tabPanel]="tabPanel"
  class="mb-5 mt-2"
>
  <a
    mat-tab-link
    [routerLink]="['orders']"
    [queryParams]="{ active: true }"
    routerLinkActive
    #rlaActive="routerLinkActive"
    [active]="rlaActive.isActive"
    >Active</a
  >
  <a
    mat-tab-link
    [routerLink]="['orders']"
    [queryParams]="{ active: false }"
    routerLinkActive
    #routerLinkFinished="routerLinkActive"
    [active]="routerLinkFinished.isActive"
    >Finished</a
  >
  <a
    mat-tab-link
    [routerLink]="['/dashboard', 'orders']"
    [queryParams]="{ active: true }"
    routerLinkActive
    #rlaDashboard="routerLinkActive"
    [active]="rlaDashboard.isActive"
    >Dashboard</a
  >
</nav>
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
