<div class="col-md-4 mx-auto">
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
        <p class="h4 mb-4">Reset password through email</p>
        <div class="form-row mb-4">
            <div class="col">
                <input type="email" formControlName="email" id="defaultForgotFormEmail" class="form-control" placeholder="Email" />
            </div>
        </div>
        <button class="btn btn-info my-4 btn-block" type="submit">Send email</button>
        <hr />
    </form>
</div>