<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sticky navbar</title>
</head>
<body>
    <header>
        <a href="#" class="logo"><img src="/assets/logou.png" alt=""></a>  
        <ul>
            <li><a [routerLink]="['/menu']" routerLinkActive="router-link-active" >Menu</a></li>
            <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a></li>
            <li><a *ngIf="!isLoggedIn()" [routerLink]="['/register']"><fa-icon [icon]="faRightToBracket"></fa-icon></a></li>
            <li><a *ngIf="!isLoggedIn()" [routerLink]="['/login']"><fa-icon [icon]="faUser"></fa-icon></a></li>
            <li><a class="cart" [routerLink]="['/cart']"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
            <li><input type="text" placeholder="Search..."></li>
        </ul>
    </header>
    <section class="banner"></section>
    <script src="/assets/nav.js" type="text/javascript"></script>
</body>
</html>