<main class="d-flex flex-column align-items-center justify-content-center">
  <div>
    <form
      [formGroup]="accountForm"
      (ngSubmit)="credentailsChange()"
      class="text-center border border-light p-5"
    >
      <p class="h4 mb-4">Profile information</p>
      <div class="form-row mb-4">
        <div class="col">
          <input
            type="text"
            formControlName="login"
            id="defaultRegisterFormLogin"
            class="form-control mb-4"
            placeholder="Name"
          />
        </div>
      </div>
      <input
        type="email"
        formControlName="email"
        id="defaultRegisterFormEmail"
        class="form-control mb-4"
        placeholder="Email"
      />
      <input
        type="text"
        formControlName="shipping_address"
        id="defaultRegisterFormShippingAddress"
        class="form-control mb-4"
        placeholder="Shipping Address"
      />
      <button class="btn btn-danger my-4 btn-block" type="submit">
        Change
      </button>
      <hr />
    </form>
  </div>
  <!-- <div>
    <form
      [formGroup]="passwordForm"
      (ngSubmit)="passwordChange()"
      class="text-center border border-light p-5"
    >
      <p class="h4 mb-4">Change password</p>
      <div class="form-row mb-4">
        <div class="col">
          <input
            type="password"
            formControlName="old_password"
            class="form-control mb-4"
            placeholder="Old password"
          />
        </div>
      </div>
      <input
        type="password"
        formControlName="password"
        class="form-control mb-4"
        placeholder="New password"
      />
      <input
        type="password"
        formControlName="password_repeat"
        class="form-control mb-4"
        placeholder="Repeat password"
      />
      <button class="btn btn-danger my-4 btn-block" type="submit">
        Change
      </button>
      <hr />
    </form>
  </div> -->
  <div class="text-center">
    <form [formGroup]="passwordForm" (ngSubmit)="passwordChange()"> 
      <div class="form-row mb-3">
        <mat-form-field>
          <mat-label>Old password</mat-label>
          <input
            matInput
            formControlName="oldPassword"
            required
            [type]="hideOldPass ? 'text' : 'password'"
          />
          <button type="button" mat-icon-button matSuffix (click)="hideOldPass= !hideOldPass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPass">
            <mat-icon>{{hideOldPass ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="errorHandling('oldPassword', 'required')">
            You must provide a <strong>password</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div formGroupName="newPassword">
        <div class="form-row mb-3">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="password"
              required
              [type]="hidePass ? 'text' : 'password'"
            />
            <button type="button" mat-icon-button matSuffix (click)="hidePass= !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
              <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="nestedErrorHandling('password', 'required')">
              You must provide a <strong>password</strong>
            </mat-error>
            <!-- <mat-error
              class="password-too-short"
              *ngIf="nestedErrorHandling('password', 'minlength')"
            >
              You must provide a <strong>longer</strong> password
            </mat-error> -->
            <!-- <mat-error *ngIf="nestedErrorHandling('password', 'maxlength')">
              You must provide a <strong>shorter</strong> password
            </mat-error> -->
            <mat-error
              class="password-mismatch"
              *ngIf="nestedErrorHandling('password', 'mismatch')"
            >
            Passwords don't <strong>match</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row mb-3">
          <mat-form-field>
            <mat-label>Confirm password</mat-label>
            <input
            matInput
            formControlName="confirmPassword"
            required
            [type]="hideConfPass ? 'text' : 'password'"
          />
          <button mat-icon-button type="button" matSuffix (click)="hideConfPass= !hideConfPass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfPass">
            <mat-icon>{{hideConfPass ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
            <mat-error *ngIf="nestedErrorHandling('confirmPassword', 'required')">
              You must provide a <strong>password</strong>
            </mat-error>
            <mat-error
              class="password-mismatch"
              *ngIf="nestedErrorHandling('confirmPassword', 'mismatch')"
            >
            Passwords don't <strong>match</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color="warn" type="submit" [disabled]="passwordForm.invalid">Reset</button>
    </form>
    <hr>
  </div>
  <div>
    <div class="card bg-danger mb-3">
      <div class="card-header"><p>Delete account</p></div>
      <div class="card-body text-center">
        <h5 class="card-title">
          If all your orders are finished you can delete your account
        </h5>
        <button class="btn btn-dark" (click)="deleteAccount()">Delete</button>
      </div>
    </div>
  </div>
</main>
