<div class="col-md-4 mx-auto">
  <div class="text-center mt-4">
    <p class="h4">Register</p>
  </div>
  <div>
    <form
      [formGroup]="registrationForm"
      (ngSubmit)="onSubmit()"
      class="text-center border border-light p-5"
    >
      <div class="form-row mb-3">
        <mat-form-field class="full-width-field">
          <mat-label>Enter your login</mat-label>
          <input
            matInput
            placeholder="user123"
            formControlName="login"
            required
          />
          <mat-error *ngIf="errorHandling('login', 'required')">
            You must provide a <strong>login</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-field">
          <mat-label>Enter your email</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            formControlName="email"
            required
          />
          <mat-error *ngIf="errorHandling('email', 'required')">
            You must provide a <strong>email</strong>
          </mat-error>
          <mat-error *ngIf="errorHandling('email', 'email')">
            You must provide a <strong>valid</strong> email
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-field">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            formControlName="password"
            required
            [type]="hidePass ? 'text' : 'password'"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hidePass = !hidePass"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePass"
          >
            <mat-icon>{{
              hidePass ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="errorHandling('password', 'required')">
            You must provide a <strong>password</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="registrationForm.invalid"
      >
        Register
      </button>
    </form>
  </div>
</div>
