<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1 class="cogito">Cogito ergo sum</h1>
        <h2 class="cogito">These are our brilliant programmers and one pajac</h2>
    </div>
    <div class="d-flex justify-content-around ">
        <div class="d-flex justify-content-around">
            <img src="/assets/sewe.jpg"  alt="">
            <figcaption class="figure-caption">Boss</figcaption>
        </div>
        <div class="d-flex justify-content-around">
            <img src="/assets/ja.jpg" alt="">
            <p>Frontend guy</p>
        </div>
        <div class="d-flex justify-content-around">
            <img src="/assets/pajac.jpg" alt="">
            <p>Hacker man</p>
        </div>
        <div class="d-flex justify-content-around">
            <img src="/assets/Zatryk.jpg" alt="">
            <p>Frontend and design dude</p>
        </div>
    </div>
</body>
</html>
