<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container marketing">
        <div>
            <h1 class="cogito">Cogito ergo sum</h1>
            <h2 class="cogito">These are our brilliant programmers and one pajac</h2>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <img class="rounded-circle" src="/assets/sewe.jpg" width="220px" height="220px">
                <h3>Bossman</h3>
                <p>seweryn się wstydzi i nie chaciał dodać zdjęcia</p>
            </div>
            <div class="col-lg-3">
                <img class="rounded-circle" src="/assets/ja.jpg" width="220px" height="220px">
                <h3>Frontend guy</h3>
                <p>lorem ipsum</p>
            </div>
            <div class="col-lg-3">
                <img class="rounded-circle" src="/assets/pajac.jpg" width="220px" height="220px">
                <h3>Hacker man</h3>
                <p>lorem ipsum</p>
            </div>
            <div class="col-lg-3">
                <img class="rounded-circle" src="/assets/Zatryk.jpg" width="220px" height="220px">
                <h3>Frontend and design dude</h3>
                <p>lorem ipsum</p>
            </div>
        </div>
    </div>
    
</body>
</html>
