<div class="container-lg">
  <h1 class="text-center">{{ isActive ? "Active" : "Finished" }} orders</h1>
  <mat-accordion multi>
    <mat-expansion-panel
      *ngFor="let order of orders; first as isFirst"
      [expanded]="isFirst"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3 [ngClass]="{'strike-through': order.canceled}">ID: {{ order.id }}</h3>
        </mat-panel-title>
        <mat-panel-description>
          <p>{{ order.order_date | date : "short" }}</p>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="row">
          <div>
            <div>
              <div>
                <p>
                  Order date:
                  <strong>{{ order.order_date | date : "medium" }}</strong>
                </p>
                <p>
                  Delivery address:
                  <strong>{{ order.shipping_address }}</strong>
                </p>
                <p *ngIf="!isActive">
                  Status: <strong *ngIf="order.canceled" class="text-danger"> 
                    CANCELED
                  </strong>
                  <strong *ngIf="order.finished">
                    finished
                  </strong>
                </p>
                <mat-divider></mat-divider>
                <div class="row">
                  <div
                    *ngFor="let upizza of order.pizzaToOrder"
                    class="col-lg-6"
                  >
                    <div>
                      <p>{{ upizza.pizza.name }} x{{ upizza.quantity }}</p>
                      <p>
                        <img
                          class="img-fluid pizza-img"
                          src="{{ upizza.pizza.img_path }}"
                        />
                      </p>
                      <p>Price: {{ upizza.pizza.price | currency }}</p>
                    </div>
                  </div>
                </div>
                <button
                  *ngIf="isActive"
                  class="btn btn-danger"
                  (click)="cancelOrder(order.id)"
                >
                  Cancel
                </button>
                <button
                  class="btn btn-info"
                  [routerLink]="['/admin', 'order', 'details', order.id]"
                >
                  Details
                </button>
              </div>
            </div>
          </div>
        </div>
        <p class="p-1">
          Order Total: <b>{{ orderTotal(order) | currency }}</b>
        </p>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>

  <div *ngIf="isEmpty()">
    <div class="row">
      <div class="col-sm-20">
        <div class="card">
          <div class="card-body">
            <span class="text-center">
              <h3>There aren't any orders here</h3>
              <h6 class="text-muted">Hint: Place one from the menu</h6>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center p-5">
    <h3>
      Summary: <strong>{{ ordersSummary() | currency }}</strong>
    </h3>
  </div>
</div>
