<!DOCTYPE html> <!-- kupa -->
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div>
    <!-- Ogarnąć ten szajs -->
    <img src="/assets/bg.png" alt="" width="2400" height="auto" style="vertical-align: middle;">
    <!-- ---------------------------------------------------- zmieniające się obrazki -->
    <div class="background-image">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img src="/assets/pizza_tlo1.jpg" alt="">
        </ng-template>
        <ng-template carouselSlide>
          <img src="/assets/pizza_tlo2.jpg" alt="">
        </ng-template>
        <ng-template carouselSlide>
          <img src="/assets/pizza_tlo3.jpg" alt="">
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="best-sellers">

      <!-- ----------------------------------------------------------------- best-seller -->

      <img class="best-img" src="\assets\best.png" alt="kurwa mac">

      <!-- ---------------------------------------------------------------------- pizza1 -->

      <div class="card4">
        <div class="circle"></div>
        <div class="content">
          <h2>Margherita</h2>
          <p>Ingredients:tomato sauce, mozzarella, fresh basil. </p>
          <a [routerLink]="['/menu']">Dodaj do koszyka!</a>
        </div>
        <img src="\assets\margherita.png" alt="bruh">
      </div>

      <!-- --------------------------------------------------------------------- pizza2 -->

      <div class="card4">
        <div class="circle"></div>
        <div class="content">
          <h2>Prosciutto</h2>
          <p>Ingredients: tomato sauce, mozzarella, prosciutto. </p>
          <a [routerLink]="['/menu']" href="#">Add to cart!</a>
        </div>
        <img src="\assets\prosciutto.png" alt="bruh">
      </div>

      <!-- --------------------------------------------------------------------- pizza 3-->

      <div class="card4">
        <div class="circle"></div>
        <div class="content">
          <h2>Farmer</h2>
          <p>Ingredients:tomato sauce, mozzarella + our fresh veggies. </p>
          <a [routerLink]="['/menu']" href="#">Add to cart!</a>
        </div>
        <img src="\assets\farmer.png" alt="bruh">
      </div>

    </div>

  </div>
</body>

</html>