<main>
  <div class="container-fluid">
    <div class="row-1">
      <div class="p-2 flex-grow-1 bd-highlight">
        <div class="picture-1"></div>
      </div>
      <p class="text-1">Best</p>
    </div>

    <div class="row-2">
      <p class="text-2">Fucking</p>
      <div class="p-2 flex-grow-1 bd-highlight">
        <div class="picture-2"></div>
      </div>
    </div>

    <div class="row-3">
      <div class="p-2 flex-grow-1 bd-highlight">
        <div class="picture-3"></div>
      </div>
      <p class="text-3">Pizza!</p>
    </div>
  </div>
  <div class="img-fluid">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <img src="/assets/pizza_tlo1.jpg" alt="" />
      </ng-template>
      <ng-template carouselSlide>
        <img src="/assets/pizza_tlo2.jpg" alt="" />
      </ng-template>
      <ng-template carouselSlide>
        <img src="/assets/pizza_tlo3.jpg"/>
      </ng-template>
    </owl-carousel-o>
  </div>
  <div class="best-sellers row">
    <div class="col-12 col-md-3 justify-content-center d-flex">
      <img class="best-img" src="\assets\best.png"/>
    </div>
    <div class="col-12 col-md-3 justify-content-center d-flex">
      <div class="card4">
        <div class="circle"></div>
        <div class="content">
          <h2>Margherita</h2>
          <p>Ingredients:tomato sauce, mozzarella, fresh basil.</p>
          <a [routerLink]="['/menu']">Add to cart!</a>
        </div>
        <img src="\assets\margherita.png"/>
      </div>
    </div>
    <div class="col-12 col-md-3 justify-content-center d-flex">
      <div class="card4">
        <div class="circle"></div>
        <div class="content">
          <h2>Prosciutto</h2>
          <p>Ingredients: tomato sauce, mozzarella, prosciutto.</p>
          <a [routerLink]="['/menu']">Add to cart!</a>
        </div>
        <img src="\assets\prosciutto.png"/>
      </div>
    </div>
    <div class="col-12 col-md-3 justify-content-center d-flex">
      <div class="card4">
        <div class="circle"></div>
        <div class="content">
          <h2>Farmer</h2>
          <p>Ingredients:tomato sauce, mozzarella + our fresh veggies.</p>
          <a [routerLink]="['/menu']">Add to cart!</a>
        </div>
        <img src="\assets\farmer.png" />
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</main>
