* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', snas-serif;
}

main {
    background-color: rgb(0, 0, 0);
}

.container-fluid {
    width: 80%;
    max-width: 3000px;
    margin-left: auto;
    margin-right: auto;
    padding: 5vmin 0;
    animation-duration: 0.5s;
    animation-name: container;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}

.row-1,
.row-2,
.row-3 {
    justify-content: center;
    display: flex;
    padding: 1vmin;
    position: relative;
}

.row-1,
.row-3 {
    animation-duration: 0.5s;
    animation-name: rowleft;
    animation-fill-mode: backwards;
}

@keyframes rowleft {
    0% {
        left: -100vh;
    }
    100% {
        left: 0px;
    }
}

.row-2 {
    animation-duration: 0.5s;
    animation-name: rowright;
    animation-fill-mode: backwards;
}

@keyframes rowright {
    0% {
        right: -50vh;
    }
    100% {
        right: 0;
    }
}

.picture-1 {
    width: 100%;
    background-image: url(/assets/pizza_home_1.jpg);
    background-size: cover;
    min-width: 100px;
    height: 22vmin;
    border-radius: 5vmin;
}

.picture-2 {
    background-image: url(/assets/pizza_home_2.png);
    background-size: cover;
    width: 100%;
    min-width: 200px;
    height: 22vmin;
    border-radius: 5vmin 0;
}

.picture-3 {
    background-image: url(/assets/pizza_home_3.jpg);
    background-size: cover;
    width: 100%;
    min-width: 200px;
    height: 22vmin;
    border-radius: 5vmin 5vmin 0 5vmin;
}

.text-1,
.text-2,
.text-3 {
    font-weight: 900;
    font-size: 12vmin;
    margin: 3vmin 3vmin 0 3vmin;
    color: aliceblue;
}

.background-image {
    margin: auto;
    height: auto;
    background-color: rgb(0, 0, 0);
    padding-top: 60px;
}

.image {
    vertical-align: middle;
    width: auto;
    height: auto;
}

.best-img {
    height: 300px;
    width: auto;
}

.best {
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 300px;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}

.best-sellers {
    gap: 45px;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    padding-bottom: 220px;
    padding-top: 220px;
}

.card4 {
    position: relative;
    width: 250px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
    padding-bottom: 0;
}

.card4 .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card4 .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 119, 0);
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.card4:hover .circle:before {
    clip-path: circle(400px at center);
    background-color: rgb(255, 219, 171);
}

.card4 img {
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
}

.card4:hover img {
    bottom: 10%;
    height: 400px;
}

.card4 .content {
    position: relative;
    width: 75%;
    top: 0%;
    margin: 0 auto;
    text-align: center;
    transition: 0.5s;
}

.card4:hover .content {
    top: 20%;
    opacity: 1;
    visibility: visible;
}

.card4 .content h2 {
    color: rgb(82, 47, 54);
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
}

.card4 .content a {
    position: relative;
    color: wheat;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 991px) {
    .card4 {
        width: auto;
        max-width: 400px;
        align-items: flex-start;
    }
    .card4:hover {
        height: 600px;
    }
    .card4 .content {
        width: 100%;
        left: 0;
        padding: 40px;
    }
    .card4:hover img {
        top: 70%;
        left: 50%;
        height: 320px;
    }
}
