<div class="d-flex">
    <nav class="flex-grow-0 col vh-100 bg-secondary d-flex flex-column justify-content-center">
        <div>
            <div [routerLink]="['orders']" [queryParams]="{ active: true }">
                <p>Active orders</p>
            </div>
            <div [routerLink]="['orders']" [queryParams]="{ active: false }">
                <p>Finished orders</p>
            </div>
            <div [routerLink]="['profile']">
                <p>Profile</p>
            </div>
            <div class="bg-danger" *ngIf="isAdmin" [routerLink]="['/admin']">
                <p>Admin</p>
            </div>
        </div>
    </nav>
    <div class="col h-100 bg-light">
        <router-outlet></router-outlet>
    </div>
</div>