<div class="d-flex justify-content-center">
  <div class="col-5" *ngIf="order$ | async as order">
    <div class="card card-body">
      <h5>
        Order number: <strong>{{ order.id }}</strong>
      </h5>
      <h5>
        User: <strong>{{ order.user.email }}</strong>
      </h5>
      <p>
        Order date: <strong>{{ order.order_date | date : "medium" }}</strong>
      </p>
      <p>
        Delivery address: <strong>{{ order.shipping_address }}</strong>
      </p>
      <div class="row">
        <div *ngFor="let line of order.pizzaToOrder" class="col-6">
          <div class="text-center">
            <p>{{ line.pizza.name }} x{{ line.quantity }}</p>
            <p>
              <img
                class="img-fluid pizza-img"
                src="{{ line.pizza.img_path }}"
              />
            </p>
            <p>Price: {{ line.pizza.price | currency }}</p>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">
      Order Total: <b>{{ orderTotal(order) | currency }}</b>
    </p>
  </div>
</div>
